*{
    margin: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
/* common style */

.section-title{
    font-family: "Merriweather";
    font-weight: 900;
    font-style: normal;
    color: #FFF;
    font-size: 72px;
}
.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}
.merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}
.merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
}


/* banner section style */
.banner{
    background-image: linear-gradient(180deg, rgba(8, 2, 18, 0.918), rgba(7, 2, 17, 0.00)100%), url('..//resources/Banner\ Image.png');
    text-align: center;
    margin: 0 150px;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 120px 250px;
    margin-top: 50px;
}
.banner-h3{
    font-family: "Merriweather";
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 15px;
}
/* main style */

/* off section style */
.off-section{
    text-align: center;
    margin: 100px 0;
}
.off-offer{
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 30px;
}
.off-line{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}
.off-categories{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
}
/* welcome-section style */
.welcome-section{
    display: flex;
    background-image: linear-gradient(90deg, rgba(7, 2, 17, 0.993), rgba(7, 2, 17, 0.00)100%), url('..//resources/Vectorrr.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 150px;
    border-radius: 16px;
    justify-content: space-around;
    margin-bottom: 100px;
}
.welcome-party{
    padding: 80px 0 80px 80px;
}
.section-description{
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}
.join-now{
    margin-top: 20px;
    border-radius: 6px;
    padding: 15px;
    border: 0;
    background-color: #F00;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
}
.welcome-year-img{
    padding: 50px 80px 50px;
}
/* event info section style */
.event-info{
    text-align: center;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 0 150px;
    border-radius: 16px;
    margin-bottom: 100px;
    padding: 100px 0;
}
.event-info > h3{
    margin-bottom: 15px;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
}
.orange-color{
    color: #F00;
}
.event-info > .join-now{
    margin-top: 40px;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
/* coming-soon section style */
.coming-soon{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0 150px;
    gap: 3%;
    margin-bottom: 100px;
}
.column{
    width: 30%;
    align-items: center;
}
.ad-line{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}
.coming-soon .section-title{
    color: #070211;
    font-size: 48px;
}
.coming-soon-year{
    color: #F00;
    font-size: 48px;
    font-weight: 700;
}
.coming-soon .section-description{
    color: rgba(7, 2, 17, 0.60);
    /* max-width: 500px; */
    margin-bottom: 30px;
}
.img-container{
    justify-content: center;
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 20px;
}
/* our portfolio section style */
.our-portfolio{
    margin: 0 150px;
    margin-bottom: 100px;
}
.our-portfolio > .section-title{
    color: #070211;
    font-size: 48px;
}
.our-portfolio > .section-description{
    color: rgba(7, 2, 17, 0.60);
    max-width: 60%;
    margin-bottom: 20px;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    align-items: center;
    /* margin: 0 150px; */
}
/* subscribe newsletter section style */
.subscribe-newsletter{
    display:block;
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: 0 150px;
    margin-bottom: 100px;
}
.subscribe-newsletter > .section-title{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-top: 40px;
}
.subscribe-newsletter > .section-description{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    }
.subscribe-newsletter > input{
    border-radius: 50px 0 0px 50px;
    background: #FFF;
    padding: 15px;
    margin: 40px 0 60px 0;
    /* border: 0;  */
    height: 25px;
}
:placeholder-shown{
    color: rgba(7, 2, 17, 0.30);
    font-size: 18px;
    font-weight: 400;
    /* padding: 1px; */
    border: 0;
    /* height: 25px; */
}
#subscribe-button{
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    padding: 15px;
    border: 0;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    /* height: 25px; */
}
/* footer style */
footer{
    /* display: block; */
    background: #070211;
    color: #FFF;
    padding: 100px 150px;
    align-items:center;
}
.row{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-top: 30px;
    align-items: center;
}
.address{
    font-size: 24px;
    font-weight: 500;
}
.contact{
    font-size: 24px;
    font-weight: 500;
    justify-content: end;
}
.logos{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}
.rights{
    font-size: 24px;
    font-weight: 500;
}
.unsubscribe{
    font-size: 24px;
    font-weight: 500;
    background-color: #070211;
    color: #FFF;
    padding: 15px;
    border: 2px #FFF solid;
    border-radius: 15px;
}
hr{
    background-color: rgba(255, 255, 255, 0.15);
}